@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

*{
    padding: 0;
    list-style: none;
    text-decoration: none;
    margin: 0;
    box-sizing: border-box;
    
}

.max-width{
    max-width: 960px;
    margin: 0 auto;
}

.ovelay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.5);
}

#open-modal:checked ~ .contact{
    display: block;
}

.contact{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    /* background-color: #1274e7; */
    z-index: 100000;
    overflow-Y: scroll;
    animation: modal linear 0.4s;

}

.contact::-webkit-scrollbar { 
    width: 0 !important;
    display: none; 
  }

@keyframes modal{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.contact-container{
    max-width: 900px;
    margin: 30px auto;
    height: auto;
    background-color: #fff;
    position: relative;
}
.contact-container label{
    position: absolute;
    right: 0;
    padding: 10px;
    color: #000;
    font-weight: bold;
    opacity: 0.2;
    font-family: 'Open Sans',sans-serif !important;
    cursor: pointer;
}

.contact-container a:hover{
    opacity: 0.5;
}

.contact-container .content{
    padding: 40px 20px;
    display: flex;
    z-index: 1;
    justify-content: center;
}

.contact-container .content .images{
    padding: 0 10px;
}

.contact-container .content .form{
    flex: 0 0 50%;
    padding: 20px 10px;
    text-align: center;
    max-width: 50%;
}

.contact-container .content .form .icon{
    padding: 20px 0;
}

.contact-container .content .form .icon i{
    font-size: 60px;
    color: #f7941d;
    /* text-align: center; */
}

.contact-container .content .form h2{
    font-size: 36px;
    line-height: 58px;
    color: #444;
    font-weight: bold;
    padding-bottom: 10px;
}

.contact-container .content .form p{
    font-size: 16px;
    line-height: 26px;
    color: #999;    
    padding-bottom: 30px;
}

.form-group{
    width: 100%;
}

.form-group input{
    width: 100%;
    padding: 14px 15px;
    background-color: #eee;
    border: none;
    border-radius: 5px;
    margin-bottom: 15px;
}

.form-group textarea{
    width: 100%; 
    max-width: 100%;
    padding: 14px 15px;
    background-color: #eee;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 20px;
    font-family: 'Open Sans',sans-serif !important;
}

.contact-container .content button{
    width: 100%;
    padding: 14px 30px;
    border-radius: 3px;
    background-color: #00c853;
    border: none;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
}

/* .form-group input:focus-visible{
    border: none;

} */

body{
    font-family: 'Open Sans',sans-serif !important;
}


.container{
    width: 100%;
    /* position: relative; */
    /* margin-left: 10px; */
}

.header{
    
    /* position: relative; */
    padding: 10px 0;
    transform: translateY(-100%);
    width: 100%;
    background-color: rgb(40, 40, 40);
    z-index: 100;
    transition: all 0.2s;
    animation: noneHeader linear 00.2s;
    animation: Hidden_menu linear 00.5s;
    display: none;

}

.header.block{
    position: fixed;
    top: 0;
    display: block;
    /* position: relative; */
    padding: 10px 0;
    transform: translateY(0);
    width: 100%;
    background-color: rgb(40, 40, 40);
    animation: header linear 00.2s;
}

.header-content{
    position: relative;
    left: -10px;
    padding: 10px 10px;
    /* margin-left: -10px; */
    height: 50px;
    display: flex;
    justify-content: space-between;
}

@keyframes Hidden_menu{
    from{
        opacity: 1;
    }to{

        opacity:0;
    }
}

@keyframes noneHeader{
    from{
        transform: translateY(0);
    }to{
        transform: translateY(-100%);
    }
}

@keyframes header{
    from{
        transform: translateY(-100%);
    }to{
        transform: translateY(0);
    }
}

.header-content .logo img{
    margin-left: 10px;
    height: 30px;
}

#nav {
    display: inline-block;
    font-size: 14px;
    position: relative;
    top: 2px;
}

#nav, .subnav {
    list-style-type: none;
}

#nav > li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav li:hover .subnav {
    display: block; 
}

#nav > li > a {
    color: #818e9b;
    text-transform: uppercase;
    font-weight: 800;
    border-radius: 3px;
    padding: 15px;
}

#nav li a {
    text-decoration: none;
    display: block;
    line-height: 20px;
    
}

#nav > li:hover > a {
    opacity: 0.7;
    background: rgba(0,0,0,0.03);
}

#nav .subnav {
    display: none;
    position: absolute;
    top: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    min-width: 165px;
    border-radius: 3px;
}

#nav .subnav a {
    font-size: 14px;
    font-weight: 500;
    color: #aaa !important;
    padding: 10px 15px;
    
}

#nav .subnav li:hover a {
    color: #818e9b;
    background: rgba(0,0,0,0.03);

}

.header-menu>ul{
    display: flex;
    margin-left: -10px;
}

.header-menu>ul li a{
    padding: 15px;
    line-height: 30px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}

.header-menu .subnav{
    position: relative;
}
.header-menu .subnav .subnav-menu{
    display: none;
    position: absolute;
    background-color: #fff;
    left: 0;
    margin-top: 10px    ;
    border-radius: 2px;
    width: 160px;
    height: 120px;
    background-color: #fff;
    background-clip: padding-box;
}

.header-menu .subnav .subnav-menu li:hover{
    background: rgba(0, 0, 0, 0.05);
}

.header-menu .subnav:hover .subnav-menu{
    display: block;
}

.header-menu .subnav .subnav-menu li a{
    display: block;
    font-weight: 400;
    color: #aaa;
    padding: 5px 15px;
    padding-bottom: 10px;

}

.section-top{
    width: 100%;
    background-color: #222;
}

.section-container{
    /* z-index: 99999; */
    position: relative;
    left: 10px;
    
}

.menu-pc{
    position: relative;
    z-index: 1000;
}

.section-menu{
    position: absolute;
    left: 10px;
    right: 0;
    padding: 30px 0;
    /* margin-left: 2px; */
    display: flex;
    justify-content: space-between;
}

.section-menu .menu-left{
    display: flex;
    padding: 0 10px;
    height: 60px;
    justify-content: space-between;
    flex: 0 0 83.3333%;
    
}

.section-menu .menu-left .logo {
    margin-left: -10px;
    padding: 10px 0;
}
.section-menu .menu-left .menu-left-item{
    padding: 0 20px;
}

.section-menu .menu-left .menu-left-item>ul{
    display: flex;
    margin-right: -10px;
}

.section-menu .menu-left .menu-left-item>ul>li label,
.section-menu .menu-left .menu-left-item>ul>li a{
    color: #fff !important;
    padding: 15px;
    line-height: 60px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

.section-menu .subnav {
    /* display: none; */
    position: absolute;
    top: 85px;
    background-color: #fff;
    color: #818e9b;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    min-width: 165px;
    
}

.section-menu .subnav a {
    font-weight: 400;
    color: #aaa;
    padding: 10px 0 10px 15px;
}

.section-menu .subnav li:hover a {
    color: #818e9b;
    background: rgba(0,0,0,0.03);

}

.section-menu .menu-right{
    padding: 0 10px;
    margin-top: 2px;
    margin: 0 -10px;
}

.section-menu .menu-right>ul{
    display: flex;
    padding: 14px 0;
    padding-right: 10px;
}

.section-menu .menu-right>ul li a i{
    color: #fff;
    font-size: 26px;
    line-height: 26px;
    margin: 1px 5px;
}



.section-content{
    /* position: absolute;
    top: 0; */
    padding-top: 160px;
    padding-bottom: 40px;
    display: flex;
    justify-content: left;
}

.section-content .text {

    flex: 0 0 33.33333%;
}

.text-left{
    padding-top: 150px;
    /* padding-right: 10px;
    padding-left: 10px; */
    padding-right: 20px;
}

.text-left>h2{
    color: #fff;
    font-size: 36px;
    line-height: 58px;
    font-weight: 500;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    line-height: 58px;
    margin-bottom: 10px;
}

.text-left .text-title{
    margin-bottom: 15px;
}

.text-left .text-title h5{
    font-size: 20px;
    line-height: 32px;
    font-family: inherit;
    margin: 20px 0;
}

.text-left .text-title h5>span{
    display: inline;
    padding-top: 3px;
    padding-right: 9px;
    padding-bottom: 4.5px;
    padding-left: 9px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;
    background: #444;
    font-size: 15px;

}

.text-except h6{
    font-size: 16px;
    line-height: 26px;
    color: #999;
    font-family: inherit;
    font-weight: 500;
    margin: 25px 0;
    margin-bottom: 45px;
}


.section-content .imgages{
}

.section-content .imgages .image-item{
    padding: 10px 0;
    padding-top: 30px;
    /* padding: 30px 0; */
}

.text-left .btn{
    margin-top: 10px;
    margin-right: 10px;
    padding: 14px 40px;
    background: #f7941d;
    border-radius: 30px;
}

.section-production{
    display: flex;
 
    /* padding: 0 10px; */
    justify-content: space-between;
}

.section-production .section-production-item{
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
    padding: 0 10px;
    height: 132px;
}

.section-production .section-production-item i{
    font-size: 60px;
    padding-right: 10px;
}

.section-production .section-production-item .text{
    padding-left: 10px;
}

.section-production .section-production-item .text h5{
    font-size: 14px;
    color: #fff;
    font-weight: 500;
}

.section-production .section-production-item .text span{
    font-size: 14px;
    color: #999;
}

.section-production .section-production-item .text h5{

    font-size: 20px;
}


.section-item_2{
    padding: 85px 0;
    background-color: #f4f4f4;

}



.section-item_2-container .text h2{
    margin: 20px 0px  10px 0;
    font-size: 36px;
    line-height: 58px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.section-item_2-container .text span h6{
    color: #999;
    margin: 10px 0;
    margin-top: 20px;
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
}

.section-item_2-container .course{
    margin: 20px 0;
    display: flex;
}

.section-item_2-container .course .course-item{
    padding: 20px 30px;
    padding-bottom: 30px;
    background: #fff;
    box-shadow: 0px 2px 5px rgb(0 0 0 / 5%), 0px 1px 2px rgb(0 0 0 / 5%);
    /* margin: 0 10px; */
    border-top: 3px solid;
    border-radius: 3px;
    width: 300px;
    height: 260px;
}

.section-item_2-container .course .course-item h5{
    margin: 10px 0;
    /* font-size: ; */
    font-weight: bold;
    font-size: 20px;
    line-height: 32px;

}

.section-item_2-container .course .course-item h6 {
    margin: 10px 0;
    
    font-size: 16px;
}

.section-item_2-container .course .course-item h6  span{
    line-height: 26px;
    font-size: 75%;
    background: #f4f4f4;
    color: #888;
    padding: 0.2em 0.6em 0.3em;
    border-radius: 0.25em;
}
.section-item_2-container .course .course-item span{
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 26px;
    color: #888;
}

.section-item-3{
    padding-top: 80px;
    background-color: #fff !important;
}


.section-item_3-container .text h2{
    margin: 20px 0px  10px 0;
    font-size: 36px;
    line-height: 58px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.section-item_3-container .text span h6{
    color: #999;
    margin: 10px 0;
    margin-top: 20px;
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
}

.section-item_3-container .data-internet{
    margin: 40px 0;
    display: flex;
    justify-content: space-between;
}

.section-item_3-container .data-internet .item i {
    font-size: 40px;
    text-align: center;
    color: #888;
}

.section-item_3-container .data-internet .item h2{
    font-size: 36px;
    color: #888;
    line-height: 58px;
    font-weight: 500;
}

.section-item_3-container .data-internet .item h6{
    font-size: 16px;
}

.section-item_3-container .data-internet .item h6 span{

    line-height: 26px;
    font-size: 75%;
    background: #f4f4f4;
    color: #888;
    padding: 0.2em 0.6em 0.3em;
    border-radius: 0.25em;
}






.section-item_3-container .image img{
    max-width: 940px;
    height: 426px;
}




/* ------------------------ */

.section-item-4{
    padding: 85px 0;
    background-color: #f4f4f4;
}


.section-item_4-container .text{

    padding-bottom: 30px;
}

.section-item_4-container .text h2{
    margin: 20px 0px  10px 0;
    font-size: 36px;
    line-height: 58px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.section-item_4-container .text span h6{
    color: #999;
    margin: 10px 0;
    margin-top: 20px;
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
}



.section-item_4-container .content{
    margin: 40px 0;
    display: flex;
    justify-content: space-between;
}

.section-item_4-container .content .left{
    padding: 20px 30px;
    padding-bottom: 30px;
    background: #fff;
    box-shadow: 0px 2px 5px rgb(0 0 0 / 5%), 0px 1px 2px rgb(0 0 0 / 5%);
    /* margin: 0 10px; */
    border-top: 3px solid;
    border-radius: 3px;
    width: 300px;
    height: 348px;

}

.section-item_4-container .content .left>div{
    padding: 9px 0;
}

.section-item_4-container .content .left i {
    font-size: 55px;
    text-align: center;
    color: #888;
}

.section-item_4-container .content .left h2{
    font-size: 20px;
    line-height: 32px;
    color: #444;
    line-height: 58px;
    font-weight: bold;
}

.section-item_4-container .content .left h6{
    font-size: 16px;
    margin: 10px 0;
}

.section-item_4-container .content .left h6 span{

    line-height: 26px;
    font-size: 75%;
    background: #f4f4f4;
    color: #888;
    padding: 0.2em 0.6em 0.3em;
    border-radius: 0.25em;
}

.section-item_4-container .content .left >span{
    font-size: 16px;
    line-height: 26px;
    color: #888;

}

.section-item_4-container .content .left a{
    display: block;
    margin:  20px 10px  20px 0;
    
}

.section-item_4-container .content .left a span{
    background-color: #f7941d;
    padding: 6px 14px;
    padding-left: 34px;
    padding-right: 34px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 30px;
    font-weight: bold;
    color: #fff;

}



.section-item_4-container .content .right{
    height: 349px;
}


/* ----- */

.section-item-5{
    padding: 85px 0;
    background-color: #222;
}

.section-item_5-container .text{

    padding-bottom: 30px;
}

.section-item_5-container .text h2{
    margin: 20px 0px  10px 0;
    font-size: 36px;
    line-height: 58px;
    color: #fff;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.section-item_5-container .text span h6{
    color: #999;
    margin: 10px 0;
    margin-top: 20px;
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
}

.section-item_5-container .content{
    display: flex;
    justify-content: center;
    
}

.section-item_5-container .content  .item{
    padding: 20px 30px;
    background: #444;
    border-radius: 3px;
    margin: 0 10px;
    width: 300px;
    height: 542px;
    text-align: center  ;
    position: relative;
}

.section-item_5-container .content  .item h3{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 28px;
    line-height: 45px;
    font-weight: bold;
    color: #fff;
}

.section-item_5-container .content  .item .item-container>p{
    display: block;
    margin-bottom: 10px;
    
    
}
.section-item_5-container .content  .item .item-container>p span{
    color: #888;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    
}

.section-item_5-container .content  .item .item-container>h4{
    margin: 10px 0;
    /* margin-top: 20px; */
    font-size: 24px;
    line-height: 38px;
}
.section-item_5-container .content  .item .item-container>h4 span{
    padding: 0.2em 0.6em 0.3em;
    background: #666;   
    border-radius: 0.25em;
    font-size: 75%;
    color: #aaa;
}

.section-item_5-container .content  .item .item-container>div>a{
    position: absolute;
    bottom: 40px;
    left: 17%;
    background-color: #666;
    padding: 12px 46px;
    border-radius: 30px;
    color: #fff;
    box-shadow: 0 0 3rem 3rem rgb(0 0 0 / 8%) inset;
}





.section-item_5-container .content  .item .item-container>div p span{
    margin: 5px 0;
    display: block;
    font-size: 16px;
    line-height: 38px;
    color: #aaa;
}




/* ///// */


.section-item_6{
    padding: 85px 0;
    background-color: #1274e7;
}



.section-item_6-container .text{

    padding-bottom: 30px;
}

.section-item_6-container .text h2{
    margin: 20px 0px  10px 0;
    font-size: 36px;
    line-height: 58px;
    color: #fff;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.section-item_6-container .text span h6{
    color: #bdd9fa;
    margin: 10px 0;
    margin-top: 20px;
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
}

.section-item_6-container .section-item_6-content{
    display: flex;
    justify-content: center;
    
}
.section-item_6-container .section-item_6-content .item{
    flex: 0 0 33.33333%;
    text-align: center;
    padding: 0 10px;
    

}

.section-item_6-content .item .item-container{
    margin: 10px 0;
    padding: 30px 20px;
    max-width: 298px;
    line-height: 1.42857143;
    /* margin: 0 -20px; */
}

.section-item_6-container .section-item_6-content .item-container-item_2{
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    
}

.section-item_6-content .item .item-container p{
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 26px;
    font-family: 'Open Sans',sans-serif !important;
    
}

.section-item_6-content .item p span{
    color: #bdd9fa;
    font-family: 'Montserrat', sans-serif;
}

.section-item_6-content .item h6{
    margin: 10px 0;
    font-size: 16px;
    line-height: 26px;
    color: #fff;
}



/* -------7------- */

.section-item_7{
    padding: 85px 0;
    background-color: #fff;
}

.section-item_7-container .text{

    padding-bottom: 30px;
}

.section-item_7-container .text h2{
    margin: 20px 0px  10px 0;
    font-size: 36px;
    line-height: 58px;
    color: #444;
    font-weight: 500;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.section-item_7-container .text span h6{
    color: #999;
    text-align: center;
    margin: 10px 0;
    margin-top: 20px;
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
}

.section-item_7-container .item{
    width: 65%;
    margin: 0 auto;
}

.section-item_7-container .item .btn{
    background-color: #f4f4f4;
    height: 58px;
    line-height: 58px;
    padding: 0 20px;
    cursor: pointer;
    margin-bottom: 5px;
    
}

.section-item_7-container .item .btn span{
    color: #999;
    font-size: 16px;
}

.section-item_7-container .item .item-text{
    overflow: hidden;
    /* display: none; */
    height: 0;
    transition: 0.2s all ;
}

.section-item_7-container .item .item-text.hidden{
    overflow: hidden;
    /* display: none; */
    height: 0;
    transition: 0.2s all ;
    animation: hiddenItem linear 0.2s;
}

.section-item_7-container .item .item-text.animation{
    height: auto;
    /* display: block; */
    animation: blockItem linear 0.2s;
}

.section-item_7-container .item .item-text p{
    padding: 15px;
    color: #999;;
    font-size: 14px;
    line-height: 24px;
    
}

.section-item_7-content .item-span{
    text-align: center; 
    width: 56%;
    margin: 0 auto;
    font-size: 12px;
    color: #999;
    margin-top: 50px;
}

footer{
    background-color: #222;
}

.footer-container{
    padding: 20px 0;
}
.footer-container .top{
    display: flex;
    justify-content: space-between;
}

.footer-container .top .logo{
    padding: 30px 10px;
}

.footer-container .top .icon{
    padding: 30px 0;
}

.footer-container .top .icon span{
    padding: 10px 10px;
}

.footer-container .top .icon span a i{
    font-size: 36px;
    line-height: 36px;
    margin: 0 10px;
    color: #bbb;
    padding: 30px 0;

}

.footer-container .center{
    display: flex;
    padding: 0px 10px;

}
.footer-container .center .item{
    flex: 0 0 25%;
    padding: 40px 0;

}

.footer-container .center .big-padding{

    padding: 10px;
}

.footer-container .center .big-padding .item-content{
    padding: 20px;
    margin: 10px 0;
    background-color: #444;
    border-radius: 5px;
    border-top: 3px solid #ff9800;
}

.footer-container .center .big-padding .item-content h5{
    margin: 10px 10px;
}

.footer-container .center .item.big-padding .item-content .text{
    margin-bottom: 10px;
}

.footer-container .center .item.big-padding .item-content .btn{
    margin: 10px 0;
}

.footer-container .center .item.big-padding .item-content .btn a{
    padding: 6px 34px;
    background-color: #ff9800;
    border-radius: 30px;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
}

.footer-container .center .item h5{
    margin: 10px 0;

}

.footer-container .center .item .text{
    padding: 10px 0;
    color: #888;
    font-size: 16px;
    line-height: 26px;
}

.footer-container .center .item .text div{
    /* display: block; */
    padding: 10px 0;
    /* height: 20px; */
}
.footer-container .center .item .text div a{
    
    font-size: 14px;
    color: #888;
    font-weight: bold;
}
.footer-container .center .item h5 span{
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    line-height: 32px;
}

.footer-container .bottom{
    display: flex;
    justify-content: space-between;
    color: #888;

}

.footer-container .bottom p{
    padding: 40px 0;
}

.footer-container .bottom ul{
    display: flex;
    padding: 30px 0;

}

.footer-container .bottom ul li{
    padding: 8px 18px;
}

.footer-container .bottom ul li a{
    color: #888;
    font-weight: bold;
    cursor: pointer;
}


@keyframes blockItem {
    from{
        /* opacity: 0; */
        height: 0;
    }
    to{
        /* opacity: 1; */
        height: 102px;
    }
}

@keyframes hiddenItem {
    from{
        /* opacity: 1; */
        height: 102px;
    }
    to{
        /* opacity: 0; */
        height: 0;
    }
}


@media (min-width : 740px){

}

@media (min-width : 740px) and (max-width : 1023px){

}

@media (min-width : 1113px){

}

@media (min-width : 1024px) and (max-width : 1239px){

}




